/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASE STYLES */

* {
/*   outline: 1px dashed blue; */
}

body {
  font-family: Lora, serif;
  font-size: 16px;
  line-height: 28px;
}

main {
  width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
  width: 960px;
}

.clearfix {
  clear: both;
}

/* COLOR STYLES */
#colors li {
  display: inline-block;
  margin: 10px 20px;
}

#colors div {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 100%;
}

.dark_tc {
  background-color: #652914;
}

.tc {
  background-color: #b25535;
}

.light_tc {
  background-color: #fe8c65;
}

.dark_green {
  background-color: #202b19;
}

.lt_green {
  background-color: #547042;
}

/* TYPOGRAPHICAL STYLES */

p {
  font-family: Lora, serif;
  font-size: 16px;
  line-height: 28px;
}

.em {
  font-family: 'Lora', serif;
  font-style: italic;
}

.strong {
  font-family: 'Lora', serif;
  font-weight: bold;
}

.link {
  color: #b25535;
}

.visited {
  color: #652914;
}

.hover {
  color: #b25535;
  font-weight: bold;
}

.active {
  color: #fe8c65;
  font-weight: bold;
}
/* Headings */

.header {
  font-family: 'Contrail One', cursive;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-shadow: -1px -1px #B25535;
  text-transform: uppercase;
  background-color: #202b19;
  color: #fff;
  padding: 20px;
  width: 100%;
}

h1 {
  font-family: 'Contrail One', cursive;
  font-size: 2.5em;
  font-variant: small-caps;
  letter-spacing: 3px;
  line-height: normal;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.highlight {
  display: block;
  color: #652914;
  font-family: 'Contrail One', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-shadow: -1px -1px #fe8c65;
  text-transform: uppercase;
}

blockquote {
  margin: 15px 45px;
  padding: 5px;
  border: 2px solid #B25535;
  font-style: italic;
}

/* LIST STYLES */

.structural li {
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 470px;
  list-style-type: none;
}

.structural li:last-child {
  margin-right: 0px;
}

dl {
  float: left;
  clear: both;
  width: 100%;
}

dt {
  float: left;
  clear: both;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-variant: small-caps;
  margin: 0 5px 10px;
  width: 22%;
}

dd {
  float: right;
  clear: none;
  width: 70%;
  padding-right: 20px;
}

.structural li ul li {
  display: list-item;
  line-height: 24px;
  list-style-position: inside;
  list-style-type: square;
  margin-bottom: 0px;
}

ul li ul li {
  display: list-item;
  line-height: 24px;
  list-style-position: inside;
  list-style-type: square;
  margin-left: 20px;
}


.structural li ol li {
  display: list-item;
  line-height: 24px;
  list-style-position: inside;
  list-style-type: decimal;
  margin: 0 20px;
}

ol li ol li {
  display: list-item;
  line-height: 24px;
  list-style-position: inside;
  list-style-type: decimal;
  margin: 0 20px;
}

/* TABLE STYLES */

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}

td, th {
  border: 1px dotted grey;
  padding: 0px 5px;
  text-align: right;
}

th {
  background-color: #202b19;
  color: white;
  border-bottom: 1px solid #000;
}

.grey {
  background-color: #ccc;
}

.footer {
  border-top: 1px solid #000;
  font-weight: bold;
}

.v_header {
  font-weight: bold;
  border-right: 1px solid #000;
}

/* FORM STYLES */

form {
  font-family: "Open Sans", sans-serif;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

input:placeholder {
  text-transform: uppercase;
}

/* BUTTON CLASSES */

#buttons ul li {
  display: inline-block;
  margin-right: 20px;
}

button {
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 25px;
  text-decoration: none;
  transition: 500ms all;
}

.primary {
  background: #652914;
}

.primary:hover {
  background: #B25535;
  cursor: pointer;
}

.secondary {
  background: #B25535;
}

.secondary:hover {
  background: #fe8c65;
}

.call {
  background: #202b19;
}

.call:hover {
  background: #547042;
}

/* Addresses */
.address {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

/* Messages */
.msg {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
  padding: 8px 22px;
  text-align: center;
  width: 100%;
}

.green {
  background-color: #093;
}

.alert {
  background-color: #900;
}
