/* ORGANIZE THIS BY AREAS STYLED, SO HEADER, FOOTER, GLOBAL STYLES, INDIVIDUAL PAGE STYLES, ETC. */
/* Global Styles */
* {
  margin: 0px;
  padding: 0px;
  outline: 1px dashed orange;
}

body {
  font-family: 'Lora', serif;
  color: #000;
}

#content_wrapper {
  padding-top: 80px;
}

h1 {
  display: inline;
  font-family: 'Contrail One', cursive;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-shadow: -1px -1px #B25535;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 0px;
}

p {
  padding: 5px 10px;
}

.highlight_container {
  margin: 15px 45px;
  padding: 5px;
  border: 2px solid #B25535;
}

/* Header */
header {
  background-color: #202b19;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Index Page Styles */
.highlight_container h3 {
  color: #652914;
  font-family: 'Contrail One', cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: -1px -1px #fe8c65;
  text-transform: uppercase;
}

.highlight_container p {
  font-style: italic;
}

/* Sales Page Styles */
form {
  margin: 10px 10px 0;
}

fieldset {
  border: none;
  margin: 20px 0; /* don't need the unit on the 0 */
}

label[for="minCustsPerHour"] {
  display: block;
}

/* attribute selector...INCREDIBLY useful!*/
input[type="text"], input[type="number"], input[type="tel"] {
  padding: 5px 10px;
}

input[type="submit"] {
  border: none;
  padding: 8px 22px;
  border-radius: 5px;
  color: white;
  background: #202b19;
  transition: 750ms all;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"]:hover {
  background: #547042;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
}

td, th {
  border: 1px dotted grey;
  padding: 0px 5px;
  text-align: right;
}

.data {
  font-family: 'Open Sans', sans-serif;
}

.grey {
  background-color: #ccc;
}

/* Image Styles */
.fish {
  height: 80px;
}

/* Footer */
footer {
  background-color: #202b19;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: center;
}
