* {
  margin: 0px;
  padding: 0px;
  outline: 1px dashed orange;
}

body {
  font-family: 'Lora', serif;
  color: #000;
}

#content_wrapper {
  padding-top: 80px;
}

h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 0px;
}

header {
  background-color: #202b19;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  display: inline;
  font-family: 'Contrail One', cursive;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-shadow: -1px -1px #B25535;
  text-transform: uppercase;
}

.fish {
  height: 80px;
}

p {
  padding: 5px 10px;
}

.highlight_container {
  margin: 15px 45px;
  padding: 5px;
  border: 2px solid #B25535;
}

.highlight_container h3 {
  color: #652914;
  font-family: 'Contrail One', cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-shadow: -1px -1px #fe8c65;
  text-transform: uppercase;
}

.highlight_container p {
  font-style: italic;
}

table {
  border: 1px solid black;
}

.grey {
  background-color: #ccc;
}
.data {
  font-family: 'Open Sans', sans-serif;
  padding-left: 25px;
}

footer {
  background-color: #202b19;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: center;
}

/* Colors:
A custom Google font for highlights: Bevan
A specified standard san-serif web font for data (such as Arial, Verdana, or Helvetica)
A specified standard serif web font for text (such as Georgia, Times, etc.
Specified different font colors for all three font usages
A background color for the default page background (make sure font colors have good contrast and are readable on this background)
A different background color for elements such boxes and tables (so make sure the font colors contrast against this well, too!)
Anything else you'd like to add related to style. But remember: simplicity, clarity, and consistency are good things in design.
Be thoughtful about layout and overall organization of the page.
Include all of the typical stuff that you'll find on the home page of a business: locations, hours, contact information, some text about how awesome the business is, etc. Be creative, and again, think about what is meaningful to a typical end user.
